[Desktop Entry]
Type=Application
Name=Matlink
Comment=Use an Android tablet as a USB second monitor
Exec=matlink
Icon=matlink
Categories=Utility;
Terminal=false
